2024년 11월 말 기준 경기도 공장등록수 77787개, 공장용지면적 (193408451.978 - 면적 기준이 안 나와 있는데 m^2로 예상) km^2

In [ ]:
import pandas as pd
gyeonggi_df1 = pd.read_csv('../../bigfile/경기_(2024.11월말기준)_전국공장등록현황.csv')

# gyeonggi_df1.shape # (77787, 38)
result = gyeonggi_df1['용지면적'].sum()
result2 = gyeonggi_df1.shape
print(result, result2) # 193408451.978 (77787, 38)

193408451.978 (77787, 38)

C:\Users\32200812\AppData\Local\Temp\ipykernel_10820\810684950.py:2: DtypeWarning: Columns (12,29) have mixed types. Specify dtype option on import or set low_memory=False.
  gyeonggi_df1 = pd.read_csv('../../bigfile/경기_(2024.11월말기준)_전국공장등록현황.csv')

2024년 11월 말 데이터

In [2]:
df1 = pd.read_excel('../../bigfile/(2024.11월말기준)_전국공장등록현황.xlsx')

KeyboardInterrupt:

In [52]:
df1.shape # (216864, 38)

(216864, 38)

In [ ]:
# 강원도 + 강원특별자치도
# 제주도 + 제주특별자치도

df1['시도명'] = df1['시도명'].replace('강원도', '강원특별자치도')
df1['시도명'] = df1['시도명'].replace('제주도', '제주특별자치도')

df1['시도명'].unique()
# ['서울특별시', '부산광역시', ' ', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
#        '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전라남도', '경상북도',
#        '경상남도', '제주특별자치도', '전북특별자치도']

Empty DataFrame
Columns: [시도명, 시군구명, 관리기관, 회사명, 공장구분, 단지명, 설립구분, 입주형태, 보유구분, 최초승인일, 최초등록일, 등록구분, 등록일, 전화번호, 남자종업원, 여자종업원, 외국인남자종업원, 외국인여자종업원, 종업원합계, 생산품, 원자재, 공장규모, 용도지역, 지목, 용지면적, 제조시설면적, 부대시설면적, 건축면적, 지식산업센터명, 대표업종, 업종명, 업종코드, 차수, 법인주소, 필지수, 공장주소, 공장주소_지번, 공장관리번호]
Index: []

[0 rows x 38 columns]

In [58]:
seoul_df1 = df1[df1['시도명'] == '서울특별시']
busan_df1 = df1[df1['시도명'] == '부산광역시']
daegu_df1 = df1[df1['시도명'] == '대구광역시']
incheon_df1 = df1[df1['시도명'] == '인천광역시']
gwangju_df1 = df1[df1['시도명'] == '광주광역시']
daejeon_df1 = df1[df1['시도명'] == '대전광역시']
ulsan_df1 = df1[df1['시도명'] == '울산광역시']
sejong_df1 = df1[df1['시도명']=='세종특별자치시']
gyeonggi_df1 = df1[df1['시도명']=='경기도']
gangwon_df1 = df1[df1['시도명']=='강원특별자치도']
chungbuk_df1 = df1[df1['시도명']=='충청북도']
chungnam_df1 = df1[df1['시도명']=='충청남도']
jeonnam_df1 = df1[df1['시도명']=='전라남도']
gyeongbuk_df1 = df1[df1['시도명']=='경상북도']
gyeongnam_df1 = df1[df1['시도명']=='경상남도']
jeju_df1 = df1[df1['시도명']=='제주특별자치도']
jeonbuk_df1 = df1[df1['시도명']=='전북특별자치도']

seoul_df1.to_csv('../../bigfile/서울__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
busan_df1.to_csv('../../bigfile/부산__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
daegu_df1.to_csv('../../bigfile/대구__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
incheon_df1.to_csv('../../bigfile/인천__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
gwangju_df1.to_csv('../../bigfile/광주__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
daejeon_df1.to_csv('../../bigfile/대전__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
ulsan_df1.to_csv('../../bigfile/을산__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
sejong_df1.to_csv('../../bigfile/세종__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
gyeonggi_df1.to_csv('../../bigfile/경기__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
gangwon_df1.to_csv('../../bigfile/강원__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
chungbuk_df1.to_csv('../../bigfile/충북__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
chungnam_df1.to_csv('../../bigfile/충남__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
jeonnam_df1.to_csv('../../bigfile/전남__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
gyeongbuk_df1.to_csv('../../bigfile/경북__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
gyeongnam_df1.to_csv('../../bigfile/경남__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
jeju_df1.to_csv('../../bigfile/제주__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)
jeonbuk_df1.to_csv('../../bigfile/전북__(2024.11월말기준)_전국공장등록현황.csv', encoding="utf-8-sig", index=False)

In [ ]:
# List of DataFrames for each region
region_dfs = [
    df1[df1['시도명'] == '서울특별시'],
    df1[df1['시도명'] == '부산광역시'],
    df1[df1['시도명'] == '대구광역시'],
    df1[df1['시도명'] == '인천광역시'],
    df1[df1['시도명'] == '광주광역시'],
    df1[df1['시도명'] == '대전광역시'],
    df1[df1['시도명'] == '울산광역시'],
    df1[df1['시도명'] == '세종특별자치시'],
    df1[df1['시도명'] == '경기도'],
    df1[df1['시도명'] == '강원특별자치도'],
    df1[df1['시도명'] == '충청북도'],
    df1[df1['시도명'] == '충청남도'],
    df1[df1['시도명'] == '전라남도'],
    df1[df1['시도명'] == '경상북도'],
    df1[df1['시도명'] == '경상남도'],
    df1[df1['시도명'] == '제주특별자치도'],
    df1[df1['시도명'] == '전북특별자치도']
]

# Concatenate all the DataFrames into a single DataFrame
new_df1 = pd.concat(region_dfs, ignore_index=True)
new_df1 # 216855 rows × 38 columns
df1.shape # (216864, 38)
# df1의 시도명이 안 적혀있는 9개 데이터가 있음

,시도명,시군구명,관리기관,회사명,공장구분,단지명,설립구분,입주형태,보유구분,최초승인일,...,지식산업센터명,대표업종,업종명,업종코드,차수,법인주소,필지수,공장주소,공장주소_지번,공장관리번호
0,서울특별시,종로구,서울특별시 종로구,남일문화 (주),개별입지,,일반,해당없음,임대,,...,,18111,경 인쇄업 외 2 종,"18111, 18113, 18119",10,,1,서울특별시 종로구 자하문로16길 8 (창성동),서울특별시 종로구 창성동 87-1번지,111102005091210
1,서울특별시,종로구,서울특별시 종로구,(주)에취.알.디,개별입지,,일반,해당없음,임대,19980101,...,,33932,전시용 모형 제조업,33932,10,,1,서울특별시 종로구 통의동 35-69번지,서울특별시 종로구 통의동 35-69번지,111100000000003
2,서울특별시,종로구,서울특별시 종로구,(주)코리아쉬핑가제트,개별입지,,일반,해당없음,자가,19980101,...,,58113,일반 서적 출판업 외 3 종,"18111, 18113, 18119, 58113",10,,1,서울특별시 종로구 자하문로2길 13-3 (통의동),서울특별시 종로구 통의동 35-6번지,111100000000002
3,서울특별시,종로구,서울특별시 종로구,삼영DP,개별입지,,일반,해당없음,임대,,...,,18111,경 인쇄업 외 2 종,"18111, 18113, 18119",10,,1,서울특별시 종로구 사직로 125 (적선동),서울특별시 종로구 적선동 107-1번지,111102006110167
4,서울특별시,종로구,서울특별시 종로구,중앙인쇄사,개별입지,,일반,해당없음,임대,19980101,...,,18119,기타 인쇄업 외 1 종,"18113, 18119",10,,1,서울특별시 종로구 자하문로2길 18 (적선동),서울특별시 종로구 적선동 20-0번지,111100000000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216850,전북특별자치도,부안군,전북특별자치도 부안군,제이페이퍼 주식회사,계획입지,부안줄포농공단지,농공단지,공장임대,임대,20190626,...,,17129,기타 종이 및 판지 제조업 외 2 종,"17122, 17125, 17129",10,,1,전북특별자치도 부안군 줄포면 농공단지길 6,전북특별자치도 부안군 줄포면 장동리 741-15번지,458002019442524
216851,전북특별자치도,부안군,전북특별자치도 부안군,유한회사 줄포하늘수산,개별입지,,일반,,임대,20110512,...,,10213,수산동물 냉동품 제조업,10213,10,,1,전북특별자치도 부안군 줄포면 신리로 313-12,전북특별자치도 부안군 줄포면 신리 352-59 번지,458002011230934
216852,전북특별자치도,부안군,전북특별자치도 부안군,남부안농업협동조합,개별입지,,일반,해당없음,자가,19960907,...,,20312,복합비료 및 기타 화학비료 제조업 외 1 종,"20312, 20313",10,,2,전북특별자치도 부안군 줄포면 장산로 139-9 (농협DSC공장) (총 2 필지) 외...,전북특별자치도 부안군 줄포면 파산리 756-6번지,214736000011002
216853,전북특별자치도,부안군,전북특별자치도 부안군,지산정미소,개별입지,,일반,해당없음,자가,19910516,...,,10611,곡물 도정업,10611,10,,1,전북특별자치도 부안군 줄포면 율지길 33,전북특별자치도 부안군 줄포면 대동리 10-14번지,350519154071100
216854,전북특별자치도,부안군,전북특별자치도 부안군,금영수산,개별입지,,창업,기타,자가,20161114,...,,10212,수산동물 건조 및 염장품 제조업,10212,10,,1,전북특별자치도 부안군 위도면 식도리 1-24번지,전북특별자치도 부안군 위도면 식도리 1-24번지,458002016370396

In [91]:
a = new_df1['용지면적'].sum()
print(a) # 930571695.479

930571695.479

In [64]:
region_names = [
    "서울특별시", "부산광역시", "대구광역시", "인천광역시", "광주광역시",
    "대전광역시", "울산광역시", "세종특별자치시", "경기도", "강원특별자치도",
    "충청북도", "충청남도", "전라남도", "경상북도", "경상남도", "제주특별자치도", "전북특별자치도"
]

region_shapes = {region: df1[df1['시도명'] == region].shape for region in region_names}

region_shapes_df = pd.DataFrame(list(region_shapes.items()), columns=["Region", "Shape (Rows, Columns)"])
region_shapes_df

     Region Shape (Rows, Columns)
0     서울특별시           (11432, 38)
1     부산광역시           (11225, 38)
2     대구광역시            (8930, 38)
3     인천광역시           (14050, 38)
4     광주광역시            (4855, 38)
5     대전광역시            (4030, 38)
6     울산광역시            (3202, 38)
7   세종특별자치시             (881, 38)
8       경기도           (77787, 38)
9   강원특별자치도            (4241, 38)
10     충청북도           (10126, 38)
11     충청남도           (12228, 38)
12     전라남도            (8203, 38)
13     경상북도           (16428, 38)
14     경상남도           (20566, 38)
15  제주특별자치도             (771, 38)
16  전북특별자치도            (7900, 38)

In [79]:
# List of DataFrames for each region
region_dfs = [
    seoul_df1, busan_df1, daegu_df1, incheon_df1, gwangju_df1, daejeon_df1, 
    ulsan_df1, sejong_df1, gyeonggi_df1, gangwon_df1, chungbuk_df1, chungnam_df1, 
    jeonnam_df1, gyeongbuk_df1, gyeongnam_df1, jeju_df1, jeonbuk_df1
]

# List of region names for reference
region_names = [
    "서울특별시", "부산광역시", "대구광역시", "인천광역시", "광주광역시", "대전광역시", 
    "울산광역시", "세종특별자치시", "경기도", "강원특별자치도", "충청북도", "충청남도", 
    "전라남도", "경상북도", "경상남도", "제주특별자치도", "전북특별자치도"
]

# Calculate the ratios and store them in a dictionary
ratios = {region: len(df) / 216855 for region, df in zip(region_names, region_dfs)}

# Convert to a DataFrame for better visualization
ratios_df = pd.DataFrame(list(ratios.items()), columns=["Region", "Ratio"])
ratios_df

     Region     Ratio
0     서울특별시  0.052717
1     부산광역시  0.051763
2     대구광역시  0.041180
3     인천광역시  0.064790
4     광주광역시  0.022388
5     대전광역시  0.018584
6     울산광역시  0.014766
7   세종특별자치시  0.004063
8       경기도  0.358705
9   강원특별자치도  0.019557
10     충청북도  0.046695
11     충청남도  0.056388
12     전라남도  0.037827
13     경상북도  0.075756
14     경상남도  0.094838
15  제주특별자치도  0.003555
16  전북특별자치도  0.036430

### 공장등록면적

In [88]:
region_names = [
    "서울특별시", "부산광역시", "대구광역시", "인천광역시", "광주광역시",
    "대전광역시", "울산광역시", "세종특별자치시", "경기도", "강원특별자치도",
    "충청북도", "충청남도", "전라남도", "경상북도", "경상남도", "제주특별자치도", "전북특별자치도"
]

region_areas = {region: df1[df1['시도명'] == region]['용지면적'].sum() for region in region_names}
region_areas

# total_area = sum(region_areas.values())

# # Calculate the proportion of each region's land area
# region_proportions = {region: (area / total_area) * 100 if total_area > 0 else 0 for region, area in region_areas.items()}

# # Combine areas and proportions into a single DataFrame
# area_data = pd.DataFrame({
#     "Region": region_names,
#     "Total Area (㎡)": [region_areas[region] for region in region_names],
#     "Proportion (%)": [region_proportions[region] for region in region_names]
# })
# area_data

{'서울특별시': 3287677.6119999997,
 '부산광역시': 30459909.383,
 '대구광역시': 22168850.347,
 '인천광역시': 23207940.186,
 '광주광역시': 18681658.084,
 '대전광역시': 12517368.986000001,
 '울산광역시': 53479438.059999995,
 '세종특별자치시': 6742504.261,
 '경기도': 193408451.978,
 '강원특별자치도': 23444681.604000002,
 '충청북도': 82200777.125,
 '충청남도': 112198435.85900001,
 '전라남도': 83141061.277,
 '경상북도': 108065920.237,
 '경상남도': 98121492.7,
 '제주특별자치도': 2962364.49,
 '전북특별자치도': 56483163.29}

In [92]:
3287677.6119999997/930571695.479

0.003532965410373576

### 종업원 합계