## 표1. 2024년 11월 말 기준 데이터

In [35]:
import pandas as pd
df1 = pd.read_excel('../../bigfile/(2024.11월말기준)_전국공장등록현황.xlsx')

### 전처리

In [45]:
df1.shape # (216864, 38)

# 지역명 전처리
# 강원도 + 강원특별자치도 -> 강원특별자치도
# 제주도 + 제주특별자치도 -> 제주특별자치도

df1['시도명'] = df1['시도명'].replace('강원도', '강원특별자치도')
df1['시도명'] = df1['시도명'].replace('제주도', '제주특별자치도')

df1['시도명'].unique()
# ['서울특별시', '부산광역시', ' ', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
#        '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전라남도', '경상북도',
#        '경상남도', '제주특별자치도', '전북특별자치도']

# '시도명'이 빈 문자열인 데이터 제거 (9개)
df1 = df1[df1['시도명'] != ' ']

df1.shape # (216855, 38)
df1.head()

,시도명,시군구명,관리기관,회사명,공장구분,단지명,설립구분,입주형태,보유구분,최초승인일,...,지식산업센터명,대표업종,업종명,업종코드,차수,법인주소,필지수,공장주소,공장주소_지번,공장관리번호
0,서울특별시,종로구,서울특별시 종로구,남일문화 (주),개별입지,,일반,해당없음,임대,,...,,18111,경 인쇄업 외 2 종,"18111, 18113, 18119",10,,1,서울특별시 종로구 자하문로16길 8 (창성동),서울특별시 종로구 창성동 87-1번지,111102005091210
1,서울특별시,종로구,서울특별시 종로구,(주)에취.알.디,개별입지,,일반,해당없음,임대,19980101,...,,33932,전시용 모형 제조업,33932,10,,1,서울특별시 종로구 통의동 35-69번지,서울특별시 종로구 통의동 35-69번지,111100000000003
2,서울특별시,종로구,서울특별시 종로구,(주)코리아쉬핑가제트,개별입지,,일반,해당없음,자가,19980101,...,,58113,일반 서적 출판업 외 3 종,"18111, 18113, 18119, 58113",10,,1,서울특별시 종로구 자하문로2길 13-3 (통의동),서울특별시 종로구 통의동 35-6번지,111100000000002
3,서울특별시,종로구,서울특별시 종로구,삼영DP,개별입지,,일반,해당없음,임대,,...,,18111,경 인쇄업 외 2 종,"18111, 18113, 18119",10,,1,서울특별시 종로구 사직로 125 (적선동),서울특별시 종로구 적선동 107-1번지,111102006110167
4,서울특별시,종로구,서울특별시 종로구,중앙인쇄사,개별입지,,일반,해당없음,임대,19980101,...,,18119,기타 인쇄업 외 1 종,"18113, 18119",10,,1,서울특별시 종로구 자하문로2길 18 (적선동),서울특별시 종로구 적선동 20-0번지,111100000000005

### 표1. 시도별 공장등록수

In [47]:
## 시도명별 공장 등록수 갯수
factory_counts = df1['시도명'].value_counts()
print(factory_counts)

## 시도명별 공장 등록수 비중
total_factories = factory_counts.sum() # 전체 공장 등록 수
factory_percentage = (factory_counts / total_factories) * 100 # 시도별 비중 계산
print(factory_percentage)

시도명
경기도        77787
경상남도       20566
경상북도       16428
인천광역시      14050
충청남도       12228
서울특별시      11432
부산광역시      11225
충청북도       10126
대구광역시       8930
전라남도        8203
전북특별자치도     7900
광주광역시       4855
강원특별자치도     4241
대전광역시       4030
울산광역시       3202
세종특별자치시      881
제주특별자치도      771
Name: count, dtype: int64
시도명
경기도       35.8705
경상남도       9.4838
경상북도       7.5756
인천광역시      6.4790
충청남도       5.6388
서울특별시      5.2717
부산광역시      5.1763
충청북도       4.6695
대구광역시      4.1180
전라남도       3.7827
전북특별자치도    3.6430
광주광역시      2.2388
강원특별자치도    1.9557
대전광역시      1.8584
울산광역시      1.4766
세종특별자치시    0.4063
제주특별자치도    0.3555
Name: count, dtype: float64

### 표1. 공장등록면적 ('용지면적' 컬럼 사용)

In [ ]:
# 시도명별 용지면적 합계 계산
land_area = df1.groupby('시도명')['용지면적'].sum()

# 숫자 형식으로 보이게 (e 포함하는 숫자 불편)
pd.options.display.float_format = '{:.4f}'.format
print(land_area)

## 시도명별 용지면적 합계 비중
total_land_area = land_area.sum()
land_area_percentage = (land_area / total_land_area) * 100
print(land_area_percentage)

시도명
강원특별자치도    23444681.6040
경기도       193408451.9780
경상남도       98121492.7000
경상북도      108065920.2370
광주광역시      18681658.0840
대구광역시      22168850.3470
대전광역시      12517368.9860
부산광역시      30459909.3830
서울특별시       3287677.6120
세종특별자치시     6742504.2610
울산광역시      53479438.0600
인천광역시      23207940.1860
전라남도       83141061.2770
전북특별자치도    56483163.2900
제주특별자치도     2962364.4900
충청남도      112198435.8590
충청북도       82200777.1250
Name: 용지면적, dtype: float64
시도명
강원특별자치도    2.5194
경기도       20.7838
경상남도      10.5442
경상북도      11.6129
광주광역시      2.0075
대구광역시      2.3823
대전광역시      1.3451
부산광역시      3.2732
서울특별시      0.3533
세종특별자치시    0.7246
울산광역시      5.7469
인천광역시      2.4939
전라남도       8.9344
전북특별자치도    6.0697
제주특별자치도    0.3183
충청남도      12.0569
충청북도       8.8334
Name: 용지면적, dtype: float64

### 표1. 시도별 종업원 수

In [49]:
# 시도명별 종업원합계 계산
employees = df1.groupby('시도명')['종업원합계'].sum()
print(employees)

## 시도명별 종업원합계 비중
total_employees = employees.sum()
employees_percentage = (employees / total_employees) * 100
print(employees_percentage)
print(total_employees)

시도명
강원특별자치도      57376
경기도        1248995
경상남도        414043
경상북도        331998
광주광역시        83059
대구광역시       143702
대전광역시        67667
부산광역시       175213
서울특별시       150517
세종특별자치시      22852
울산광역시       146509
인천광역시       221648
전라남도        129224
전북특별자치도     136394
제주특별자치도       8891
충청남도        344247
충청북도        236862
Name: 종업원합계, dtype: int64
시도명
강원특별자치도    1.4640
경기도       31.8686
경상남도      10.5645
경상북도       8.4711
광주광역시      2.1193
대구광역시      3.6666
대전광역시      1.7266
부산광역시      4.4706
서울특별시      3.8405
세종특별자치시    0.5831
울산광역시      3.7382
인천광역시      5.6554
전라남도       3.2972
전북특별자치도    3.4802
제주특별자치도    0.2269
충청남도       8.7836
충청북도       6.0436
Name: 종업원합계, dtype: float64
3919197

### 확인차

In [15]:
seoul_df1 = df1[df1['시도명'] == '서울특별시']
busan_df1 = df1[df1['시도명'] == '부산광역시']
daegu_df1 = df1[df1['시도명'] == '대구광역시']
incheon_df1 = df1[df1['시도명'] == '인천광역시']
gwangju_df1 = df1[df1['시도명'] == '광주광역시']
daejeon_df1 = df1[df1['시도명'] == '대전광역시']
ulsan_df1 = df1[df1['시도명'] == '울산광역시']
sejong_df1 = df1[df1['시도명']=='세종특별자치시']
gyeonggi_df1 = df1[df1['시도명']=='경기도']
gangwon_df1 = df1[df1['시도명']=='강원특별자치도']
chungbuk_df1 = df1[df1['시도명']=='충청북도']
chungnam_df1 = df1[df1['시도명']=='충청남도']
jeonnam_df1 = df1[df1['시도명']=='전라남도']
gyeongbuk_df1 = df1[df1['시도명']=='경상북도']
gyeongnam_df1 = df1[df1['시도명']=='경상남도']
jeju_df1 = df1[df1['시도명']=='제주특별자치도']
jeonbuk_df1 = df1[df1['시도명']=='전북특별자치도']

In [43]:
# df1['종업원합계'].sum()
gwangju_df1['종업원합계'].sum()
(83059/3919197) * 100

2.119286170100661

## 표2. 2022년 12월 말 기준 데이터

In [3]:
import pandas as pd
df2 = pd.read_excel('../../bigfile/(2022.12월말기준)_전국공장등록현황.xlsx')

c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

### 전처리

In [50]:
df2.shape # (208504, 38)

# df2['시도명'].unique()
# ['서울특별시', '부산광역시', ' ', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
#        '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
#        '경상남도',  '제주특별자치도']

# 지역명 전처리
# 제주도 + 제주특별자치도 -> 제주특별자치도
df2['시도명'] = df2['시도명'].replace('제주도', '제주특별자치도')

## '시도명'이 빈 문자열(23개)
# 데이터 확인
empty = df2[df2['시도명'] == ' '] # [23 rows x 38 columns]
# 데이터 제거
df2 = df2[df2['시도명'] != ' ']

# df2.shape # (208481, 38)

### 표2. 시도별 공장등록수

In [51]:
## 시도명별 공장 등록수 갯수
factory_counts2 = df2['시도명'].value_counts()
print(factory_counts2)

## 시도명별 공장 등록수 비중
## 전체 공장 등록 수
total_factories2 = factory_counts2.sum()
# 시도별 비중 계산
factory_percentage2 = (factory_counts2 / total_factories2) * 100
print(factory_percentage2)

시도명
경기도        74486
경상남도       19975
경상북도       16002
인천광역시      13348
충청남도       11732
서울특별시      11347
부산광역시      11069
충청북도        9557
대구광역시       8480
전라남도        7849
전라북도        7574
광주광역시       4717
강원도         4008
대전광역시       3729
울산광역시       3065
세종특별자치시      807
제주특별자치도      736
Name: count, dtype: int64
시도명
경기도       35.7280
경상남도       9.5812
경상북도       7.6755
인천광역시      6.4025
충청남도       5.6274
서울특별시      5.4427
부산광역시      5.3094
충청북도       4.5841
대구광역시      4.0675
전라남도       3.7649
전라북도       3.6329
광주광역시      2.2626
강원도        1.9225
대전광역시      1.7887
울산광역시      1.4702
세종특별자치시    0.3871
제주특별자치도    0.3530
Name: count, dtype: float64

### 표2. 시도별 종업원 수 (공장등록기준)

In [52]:
# 시도명별 종업원합계 계산
employees2 = df2.groupby('시도명')['종업원합계'].sum()
print(employees2)

## 시도명별 종업원합계 비중
total_employees2 = employees2.sum()
employees_percentage2 = (employees2 / total_employees2) * 100
print(employees_percentage2)

시도명
강원도          55964
경기도        1223626
경상남도        410641
경상북도        334301
광주광역시        82560
대구광역시       137265
대전광역시        63311
부산광역시       173445
서울특별시       152237
세종특별자치시      21677
울산광역시       144863
인천광역시       217293
전라남도        126603
전라북도        134332
제주특별자치도       8693
충청남도        329669
충청북도        229014
Name: 종업원합계, dtype: int64
시도명
강원도        1.4553
경기도       31.8197
경상남도      10.6785
경상북도       8.6933
광주광역시      2.1469
대구광역시      3.5695
대전광역시      1.6464
부산광역시      4.5103
서울특별시      3.9588
세종특별자치시    0.5637
울산광역시      3.7671
인천광역시      5.6506
전라남도       3.2922
전라북도       3.4932
제주특별자치도    0.2261
충청남도       8.5729
충청북도       5.9554
Name: 종업원합계, dtype: float64

확인차

In [7]:
seoul_df2 = df2[df2['시도명'] == '서울특별시']
busan_df2 = df2[df2['시도명'] == '부산광역시']
daegu_df2 = df2[df2['시도명'] == '대구광역시']
incheon_df2 = df2[df2['시도명'] == '인천광역시']
gwangju_df2 = df2[df2['시도명'] == '광주광역시']
daejeon_df2 = df2[df2['시도명'] == '대전광역시']
ulsan_df2 = df2[df2['시도명'] == '울산광역시']
sejong_df2 = df2[df2['시도명']=='세종특별자치시']
gyeonggi_df2 = df2[df2['시도명']=='경기도']
gangwon_df2 = df2[df2['시도명']=='강원특별자치도']
chungbuk_df2 = df2[df2['시도명']=='충청북도']
chungnam_df2 = df2[df2['시도명']=='충청남도']
jeonnam_df2 = df2[df2['시도명']=='전라남도']
gyeongbuk_df2 = df2[df2['시도명']=='경상북도']
gyeongnam_df2 = df2[df2['시도명']=='경상남도']
jeju_df2 = df2[df2['시도명']=='제주특별자치도']
jeonbuk_df2 = df2[df2['시도명']=='전북특별자치도']

In [16]:
# jeonnam_df2.shape
# df2.shape
# (13348/208481)*100

# gyeongnam_df2['종업원합계'].sum()
# df2['종업원합계'].sum()
(8693/3845494)*100

0.22605678230157167

## 표3. 2013년 12월 말 기준 데이터

In [17]:
import pandas as pd
df3 = pd.read_excel('../../bigfile/(2013.12월말기준)_전국공장등록현황.xlsx')

c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [22]:
df3.shape # (164110, 38)
df3.head()

,시도명,시군구명,관리기관,회사명,공장구분,단지명,설립구분,입주형태,보유구분,최초승인일,...,지식산업센터명,대표업종,업종명,업종코드,차수,법인주소,필지수,공장주소,공장주소_지번,공장관리번호
0,서울특별시,종로구,서울특별시 종로구,(주)이건만에이앤에프,개별,,일반,해당없음,자가,,...,,15129,가방 및 기타 보호용 케이스 제조업 외 1 종,"15129,15121",9,"서울특별시 종로구 자하문로 280, 3층 301호 (부암동)",1,"서울특별시 종로구 필운대로 110-2, 지하1층 (신교동)",서울특별시 종로구 신교동 35번지,111102004073665
1,서울특별시,종로구,서울특별시 종로구,남일문화 (주),개별,,일반,,임대,,...,,18111,경 인쇄업 외 1 종,"18111,18119",9,서울특별시 종로구 자하문로16길 8 (창성동),1,서울특별시 종로구 자하문로16길 8 (창성동),서울특별시 종로구 창성동 87-1번지,111102005091210
2,서울특별시,종로구,서울특별시 종로구,(주)에취.알.디,개별,,일반,,임대,19980101,...,,33934,교시용 모형 제조업,33934,9,서울특별시 종로구 통의동 35-69번지,1,서울특별시 종로구 통의동 35-69번지,서울특별시 종로구 통의동 35-69번지,111100000000003
3,서울특별시,종로구,서울특별시 종로구,(주)코리아쉬핑가제트,개별,,일반,해당없음,자가,19980101,...,,58119,기타 서적 출판업 외 2 종,"58119,18111,18119",9,서울특별시 도봉구 창동 181-17번지 쌍용아파트 115-1902,1,서울특별시 종로구 자하문로2길 13-3 (통의동),서울특별시 종로구 통의동 35-6번지,111100000000002
4,서울특별시,종로구,서울특별시 종로구,성문인쇄사,개별,,일반,,임대,19980101,...,,18119,기타 인쇄업 외 1 종,"18119,18111",9,서울특별시 서대문구 거북골로 4-7 (홍은동),1,서울특별시 종로구 효자로 7-2 (통의동),서울특별시 종로구 통의동 35-53번지,111100000000004

In [53]:
## 공장등록수
factory_counts3 = df3['시도명'].value_counts()
# print(factory_counts3)

## 공장등록면적
land_area3 = df3.groupby('시도명')['용지면적'].sum()
# print(land_area3) # 144333623.5940

## 종업원 수
employees = df3.groupby('시도명')['종업원합계'].sum()
print(employees) # 1069074

시도명
강원도          48439
경기도        1069074
경상남도        375937
경상북도        316889
광주광역시        81061
대구광역시       131970
대전광역시        51560
부산광역시       170234
서울특별시       173953
세종특별자치시      19845
울산광역시       150919
인천광역시       201130
전라남도        113259
전라북도        112491
제주특별자치도       7558
충청남도        271914
충청북도        164538
Name: 종업원합계, dtype: int64

확인차

In [ ]:
gyeonggi_df3 = df3[df3['시도명']=='경기도']
print(gyeonggi_df3.shape) # (58434, 38)
print(gyeonggi_df3['용지면적'].sum()) # 144333623.594
print(gyeonggi_df3['종업원합계'].sum()) # 1069074

gyeonggi_df1 = df1[df1['시도명']=='경기도']
print(gyeonggi_df1.shape) # (77787, 38)
print(gyeonggi_df1['용지면적'].sum()) # 193408451.978
print(gyeonggi_df1['종업원합계'].sum()) # 1248995
employees = df1.groupby('시도명')['종업원합계'].sum()
print(employees) # 1248995

(58434, 38)
144333623.594
1069074

증가율 (%) = ((2024년 값 - 2013년 값) / 2013년 값) × 100

In [44]:
# ((77787-58434)/58434)*100
# ((193408451.978 - 144333623.594)/144333623.594)*100
# ((1248995-1069074)/1069074) * 100
# (1248995-1069074)

193.408451978

In [58]:
# 초기 값, 최종 값, 기간 설정
initial_value = 58434  # 예: 공장등록수 초기 값
final_value = 77787    # 예: 공장등록수 최종 값
years = 10 + 11/12 # (2013년 12월 ~ 2024년 12월 - 2024년 12월)

# CAGR 계산
cagr = ((final_value / initial_value) ** (1 / years)) - 1

# 퍼센트로 변환
cagr_percentage = cagr * 100

print(f"연평균 증가율: {cagr_percentage:.2f}%")

연평균 증가율: 2.66%

In [59]:
# 초기 값, 최종 값, 기간 설정
initial_value2 = 144333623.594  # 예: 공장등록수 초기 값
final_value2 = 193408451.978    # 예: 공장등록수 최종 값

# CAGR 계산
cagr2 = ((final_value2 / initial_value2) ** (1 / years)) - 1

# 퍼센트로 변환
cagr_percentage2 = cagr2 * 100

print(f"연평균 증가율: {cagr_percentage2:.2f}%")

연평균 증가율: 2.72%

In [60]:
# 초기 값, 최종 값, 기간 설정
initial_value3 = 1069074.594  # 예: 공장등록수 초기 값
final_value3 = 1248995    # 예: 공장등록수 최종 값

# CAGR 계산
cagr3 = ((final_value3 / initial_value3) ** (1 / years)) - 1

# 퍼센트로 변환
cagr_percentage3 = cagr3 * 100

print(f"연평균 증가율: {cagr_percentage3:.2f}%")

연평균 증가율: 1.44%