### 24

In [1]:
import pandas as pd
df24_12 = pd.read_excel('../../bigfile/(2024.12월말기준)_전국공장등록현황.xlsx')

df24_12['시도명'] = df24_12['시도명'].replace('강원도', '강원특별자치도')
df24_12['시도명'] = df24_12['시도명'].replace('제주도', '제주특별자치도')
df24_12 = df24_12[df24_12['시도명'] != ' ']

In [ ]:
df24_12['지식산업센터명'].unique()
# array([' ', '서울산림 지식산업센터', '아시아미디어타워', ..., '(주)신화노블레스', '주얼리집적산업센터',
#        '익산왕궁지식산업센터'], dtype=object)

# '지식산업센터명' 열에서 공백 문자열을 제거한 데이터프레임 생성
f_24_12 = df24_12[df24_12['지식산업센터명'].str.strip() != '']
print(f_24_12.shape[0])

pd.reset_option('display.max_rows')

result24_12 = f_24_12.groupby('시도명')['지식산업센터명'].count()
print(result24_12)
print(result24_12.sum())

result24_12.to_excel('../../bigfile/24_12.xlsx')

# 경기도 시군구별 갯수
g_24_12 = f_24_12[f_24_12['시도명']=='경기도']
# print(g_24_12.shape[0])
# print(g_24_12)

g_24_12.loc[:, '시군구명'] = g_24_12['시군구명'].str.split().str[0]
g_24_12.loc[:, '시군구명'] = g_24_12['시군구명'].replace('여주군', '여주시')

result24_12 = g_24_12.groupby('시군구명')['지식산업센터명'].count()
print(result24_12)
print(result24_12.sum())

result24_12.to_csv('../../bigfile/24_12시군구별.csv')

23206
시도명
강원특별자치도      110
경기도        11471
경상남도         973
경상북도         147
광주광역시        196
대구광역시        386
대전광역시        420
부산광역시        347
서울특별시       5259
세종특별자치시       35
울산광역시         69
인천광역시       3199
전라남도          71
전북특별자치도       77
제주특별자치도        1
충청남도         136
충청북도         309
Name: 지식산업센터명, dtype: int64
23206

### 23 22

In [6]:
df23_12 = pd.read_excel('../../bigfile/(2023.12월말기준)_전국공장등록현황.xlsx')
df22_12 = pd.read_excel('../../bigfile/(2022.12월말기준)_전국공장등록현황.xlsx')

c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [7]:
df23_12['시도명'] = df23_12['시도명'].replace('강원도', '강원특별자치도')
df23_12['시도명'] = df23_12['시도명'].replace('제주도', '제주특별자치도')
df23_12 = df23_12[df23_12['시도명'] != ' ']

df22_12['시도명'] = df22_12['시도명'].replace('강원도', '강원특별자치도')
df22_12['시도명'] = df22_12['시도명'].replace('제주도', '제주특별자치도')
df22_12 = df22_12[df22_12['시도명'] != ' ']

### 23

In [117]:
df23_12['지식산업센터명'].unique()

# '지식산업센터명' 열에서 공백 문자열을 제거한 데이터프레임 생성
f_23_12 = df23_12[df23_12['지식산업센터명'].str.strip() != '']
print(f_23_12.shape[0]) # 21706

pd.reset_option('display.max_rows')

result23_12 = f_23_12.groupby('시도명')['지식산업센터명'].count()
print(result23_12)
print(result23_12.sum())

result23_12.to_excel('../../bigfile/23_12_시도별.xlsx')

# 경기도 시군구별 갯수
g_23_12 = f_23_12[f_23_12['시도명']=='경기도']
print(g_23_12.shape[0])
print(g_23_12)

g_23_12.loc[:, '시군구명'] = g_23_12['시군구명'].str.split().str[0]
g_23_12.loc[:, '시군구명'] = g_23_12['시군구명'].replace('여주군', '여주시')

result23_12 = g_23_12.groupby('시군구명')['지식산업센터명'].count()
print(result23_12)
print(result23_12.sum())

result23_12.to_csv('../../bigfile/23_12_시군구별.csv')

21706
시도명
강원특별자치도       84
경기도        10700
경상남도         938
경상북도         140
광주광역시        182
대구광역시        373
대전광역시        348
부산광역시        336
서울특별시       4967
세종특별자치시       34
울산광역시         67
인천광역시       3000
전라남도          62
전라북도          69
제주특별자치도        1
충청남도         104
충청북도         301
Name: 지식산업센터명, dtype: int64
21706
10700
        시도명     시군구명        관리기관            회사명  공장구분            단지명    설립구분  \
57860   경기도  수원시 권선구  수원산업단지관리공단    (사)경기도장애인마을  계획입지  수원델타플렉스일반산업단지  일반산업단지
57861   경기도  수원시 권선구  수원산업단지관리공단   (사)장애인한빛 사업단  계획입지  수원델타플렉스일반산업단지  일반산업단지
57863   경기도  수원시 권선구  수원산업단지관리공단      (유)케이케이에스  계획입지  수원델타플렉스일반산업단지  일반산업단지
57868   경기도  수원시 권선구  수원산업단지관리공단       (주)거산이엠피  계획입지  수원델타플렉스일반산업단지  일반산업단지
57869   경기도  수원시 권선구  수원산업단지관리공단      (주)건일화인테크  계획입지  수원델타플렉스일반산업단지  일반산업단지
...     ...      ...         ...            ...   ...            ...     ...
128697  경기도      양주시     경기도 양주시  이터널사운드&호가인테리어  개별입지                     일반
128703  경기도      양주시     경기도 양주시       주식회사 엔트론  개별입지                     일반
128705  경기도      양주시     경기도 양주시         지심엘앤씨   개별입지                     일반
128707  경기도      양주시     경기도 양주시        크린필터(주)  개별입지                     일반
132675  경기도      포천시     경기도 포천시         한성지지에스  개별입지                     일반

        입주형태 보유구분     최초승인일  ...         지식산업센터명   대표업종  \
57860          임대  20221222  ...       수원휴먼스카이밸리  18111
57861   공장임대   임대  20200131  ...        수원첨단벤처밸리  27212
57863   공장임대   임대  20230523  ...           수원델타원  20423
57868     분양   자가  20180430  ...         수원벤처밸리2  29172
57869    양수도   자가  20130530  ...       수원휴먼스카이밸리  26299
...      ...  ...       ...  ...             ...    ...
128697         자가            ...        와이티씨주식회사  26529
128703         임대            ...        와이티씨주식회사  26421
128705         임대            ...        와이티씨주식회사  28422
128707         임대            ...        와이티씨주식회사  29174
132675   양수도   자가            ...  빛가람아이비씨 지식산업센터  25991

                                업종명  \
57860                  경 인쇄업 외 12 종
57861   전자기 측정, 시험 및 분석기구 제조업 외 4 종
57863                       화장품 제조업
57868             공기 조화장치 제조업 외 1 종
57869         그 외 기타 전자부품 제조업 외 1 종
...                             ...
128697                  기타 음향기기 제조업
128703                     방송장비 제조업
128705        일반용 전기 조명장치 제조업 외 3 종
128707                   기체 여과기 제조업
132675           금속 캔 및 기타 포장용기 제조업

                                                     업종코드  차수  법인주소  필지수  \
57860   18111, 18113, 18119, 26299, 28113, 28410, 2842...  10          1
57861                   27212, 28112, 28121, 28122, 28123  10          1
57863                                               20423  10          1
57868                                        29172, 29173  10          1
57869                                        26295, 26299  10          6
...                                                   ...  ..   ...  ...
128697                                              26529  10          1
128703                                              26421  10          1
128705                         26421, 26429, 28422, 28423  10          1
128707                                              29174  10          0
132675                                              25991  10          1

                                                     공장주소  \
57860   경기도 수원시 권선구 오목천로132번길 33, 1층 106-2호(고색동, 휴먼스카이밸리)
57861   경기도 수원시 권선구 오목천로152번길 40, 2층 213호, 214호 (고색동, ...
57863    경기도 수원시 권선구 산업로 198, 511호~515호, 529호, 530호 (고색동)
57868   경기도 수원시 권선구 산업로156번길 142-10, B동 304호(수원벤처밸리2) ...
57869   경기도 수원시 권선구 오목천로132번길 33, 6층 610 (고색동, 휴먼스카이밸리...
...                                                   ...
128697                        경기도 양주시 광적면 부흥로 847, 1층 117
128703  경기도 양주시 광적면 부흥로 847, 4층 430호(건축물대장상 427호일부) (광적면)
128705           경기도 양주시 광적면 부흥로 847, 3층 322,323,324,325호
128707        경기도 양주시 광적면 부흥로 847, 5층 504, 505, 506, 507호
132675

                                               공장주소_지번           공장관리번호
57860            경기도 수원시 권선구 고색동 959 휴먼스카이밸리 1층 106-2호  411132022953461
57861   경기도 수원시 권선구 고색동 958번지 고색동 첨단벤처밸리 2층 213호, 214호  411132020460938
57863     경기도 수원시 권선구 고색동 1098-2 511호~515호, 529호, 530호  411132023013550
57868          경기도 수원시 권선구 고색동 1152번지 B동 304호(수원벤처밸리2)  411132018410641
57869     경기도 수원시 권선구 고색동 959번지 휴먼스카이밸리 6층 610 6층 610호  411132013282470
...                                                ...              ...
128697                    경기도 양주시 광적면 가납리 428번지 1층 117  416302014321257
128703    경기도 양주시 광적면 가납리 428번지 4층 430호(건축물대장상 427호일부)  416302016368400
128705       경기도 양주시 광적면 가납리 428번지 3층 322,323,324,325호  416302016354684
128707    경기도 양주시 광적면 가납리 428번지 5층 504, 505, 506, 507호  416302020468307
132675                             경기도 포천시 일동면 수입리 520       2022891620

[10700 rows x 38 columns]
시군구명
고양시      204
과천시       11
광명시      403
광주시        2
구리시       18
군포시      640
김포시      503
남양주시      87
동두천시      28
부천시     1053
성남시     2424
수원시      509
시흥시     1329
안산시     1509
안성시        3
안양시      720
양주시       40
오산시       17
용인시      157
의왕시      356
의정부시      28
파주시       19
평택시       68
포천시        1
하남시      292
화성시      279
Name: 지식산업센터명, dtype: int64
10700

### 22

In [121]:
df22_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_22_12 = df22_12[df22_12['지식산업센터명'].str.strip() != '']
print(f_22_12.shape[0])

result22_12 = f_22_12.groupby('시도명')['지식산업센터명'].count()
print(result22_12)
print(result22_12.sum())

result22_12.to_excel('../../bigfile/22_12.xlsx')


# 경기도 시군구별 값수
g_22_12 = f_22_12[f_22_12['시도명']=='경기도']
# print(g_22_12.shape[0])
# print(g_22_12)

g_22_12.loc[:, '시군구명'] = g_22_12['시군구명'].str.split().str[0]
g_22_12.loc[:, '시군구명'] = g_22_12['시군구명'].replace('여주군', '여주시')

result22_12 = g_22_12.groupby('시군구명')['지식산업센터명'].count()
print(result22_12)
print(result22_12.sum())

result22_12.to_csv('../../bigfile/22_12시군구별.csv')

20376
시도명
강원특별자치도       64
경기도        10075
경상남도         931
경상북도         128
광주광역시        160
대구광역시        365
대전광역시        264
부산광역시        330
서울특별시       4840
세종특별자치시       35
울산광역시         59
인천광역시       2660
전라남도          42
전라북도          60
충청남도          85
충청북도         278
Name: 지식산업센터명, dtype: int64
20376
시군구명
고양시      192
광명시      369
광주시        2
구리시        6
군포시      609
김포시      483
남양주시      80
동두천시      25
부천시     1023
성남시     2341
수원시      464
시흥시     1201
안산시     1427
안성시        3
안양시      687
양주시       35
오산시       12
용인시      146
의왕시      325
의정부시       7
파주시       14
평택시       50
포천시        1
하남시      294
화성시      279
Name: 지식산업센터명, dtype: int64
10075

### 21 20

In [36]:
df21_12 = pd.read_excel('../../bigfile/(2021.12월말기준)_전국공장등록현황.xlsx')
df20_12 = pd.read_excel('../../bigfile/(2020.12말기준)_전국등록공장현황.xlsx')

df21_12['시도명'] = df21_12['시도명'].replace('강원도', '강원특별자치도')
df21_12['시도명'] = df21_12['시도명'].replace('제주도', '제주특별자치도')
df21_12 = df21_12[df21_12['시도명'] != ' ']

df20_12['시도명'] = df20_12['시도명'].replace('강원도', '강원특별자치도')
df20_12['시도명'] = df20_12['시도명'].replace('제주도', '제주특별자치도')
df20_12 = df20_12[df20_12['시도명'] != ' ']

c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

21

In [122]:
df21_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_21_12 = df21_12[df21_12['지식산업센터명'].str.strip() != '']
print(f_21_12.shape[0])

result21_12 = f_21_12.groupby('시도명')['지식산업센터명'].count()
print(result21_12)
print(result21_12.sum())

result21_12.to_excel('../../bigfile/21_12.xlsx')


# 경기도 시군구별 값수
g_21_12 = f_21_12[f_21_12['시도명']=='경기도']
# print(g_21_12.shape[0])
# print(g_21_12)

g_21_12.loc[:, '시군구명'] = g_21_12['시군구명'].str.split().str[0]
g_21_12.loc[:, '시군구명'] = g_21_12['시군구명'].replace('여주군', '여주시')

result21_12 = g_21_12.groupby('시군구명')['지식산업센터명'].count()
print(result21_12)
print(result21_12.sum())

result21_12.to_csv('../../bigfile/21_12시군구별.csv')

18930
시도명
강원특별자치도      27
경기도        9623
경상남도        911
경상북도        113
광주광역시       138
대구광역시       338
대전광역시       188
부산광역시       321
서울특별시      4734
세종특별자치시      21
울산광역시        52
인천광역시      2086
전라남도         21
전라북도         42
충청남도         84
충청북도        231
Name: 지식산업센터명, dtype: int64
18930
시군구명
고양시      183
광명시      347
광주시        1
구리시        1
군포시      582
김포시      448
남양주시      67
동두천시      25
부천시      995
성남시     2471
수원시      453
시흥시     1108
안산시     1270
안성시        2
안양시      645
양주시       36
오산시        8
용인시      123
의왕시      295
의정부시       3
이천시        1
파주시        9
평택시       29
하남시      266
화성시      255
Name: 지식산업센터명, dtype: int64
9623

20

In [123]:
df20_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_20_12 = df20_12[df20_12['지식산업센터명'].str.strip() != '']
print(f_20_12.shape[0])

result20_12 = f_20_12.groupby('시도명')['지식산업센터명'].count()
print(result20_12)
print(result20_12.sum())

result20_12.to_excel('../../bigfile/20_12.xlsx')


# 경기도 시군구별 값수
g_20_12 = f_20_12[f_20_12['시도명']=='경기도']
# print(g_20_12.shape[0])
# print(g_20_12)

g_20_12.loc[:, '시군구명'] = g_20_12['시군구명'].str.split().str[0]
g_20_12.loc[:, '시군구명'] = g_20_12['시군구명'].replace('여주군', '여주시')

result20_12 = g_20_12.groupby('시군구명')['지식산업센터명'].count()
print(result20_12)
print(result20_12.sum())

result20_12.to_csv('../../bigfile/20_12시군구별.csv')

17489
시도명
강원특별자치도      25
경기도        8895
경상남도        843
경상북도         93
광주광역시       145
대구광역시       303
대전광역시       135
부산광역시       306
서울특별시      4545
세종특별자치시       7
울산광역시        48
인천광역시      1845
전라남도         16
전라북도         30
충청남도         84
충청북도        169
Name: 지식산업센터명, dtype: int64
17489
시군구명
고양시      190
광명시      334
광주시        1
구리시        2
군포시      556
김포시      425
남양주시      47
동두천시      23
부천시      965
성남시     2494
수원시      461
시흥시      947
안산시      989
안성시        4
안양시      586
양주시       30
오산시        2
용인시      115
의왕시      288
의정부시       3
이천시        1
파주시        1
평택시        9
포천시        1
하남시      224
화성시      197
Name: 지식산업센터명, dtype: int64
8895

# 19 18

In [40]:
df19_12 = pd.read_excel('../../bigfile/(2019.12월말기준) 전국등록공장현황.xlsx')
df18_12 = pd.read_excel('../../bigfile/(2018.12월말기준)_전국공장등록현황.xlsx')

df19_12['시도명'] = df19_12['시도명'].replace('강원도', '강원특별자치도')
df19_12['시도명'] = df19_12['시도명'].replace('제주도', '제주특별자치도')
df19_12 = df19_12[df19_12['시도명'] != ' ']

df18_12['시도명'] = df18_12['시도명'].replace('강원도', '강원특별자치도')
df18_12['시도명'] = df18_12['시도명'].replace('제주도', '제주특별자치도')
df18_12 = df18_12[df18_12['시도명'] != ' ']

c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

19

In [124]:
df19_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_19_12 = df19_12[df19_12['지식산업센터명'].str.strip() != '']
print(f_19_12.shape[0])

result19_12 = f_19_12.groupby('시도명')['지식산업센터명'].count()
print(result19_12)
print(result19_12.sum())

result19_12.to_excel('../../bigfile/19_12.xlsx')


# 경기도 시군구별 값수
g_19_12 = f_19_12[f_19_12['시도명']=='경기도']
# print(g_19_12.shape[0])
# print(g_19_12)

g_19_12.loc[:, '시군구명'] = g_19_12['시군구명'].str.split().str[0]
g_19_12.loc[:, '시군구명'] = g_19_12['시군구명'].replace('여주군', '여주시')

result19_12 = g_19_12.groupby('시군구명')['지식산업센터명'].count()
print(result19_12)
print(result19_12.sum())

result19_12.to_csv('../../bigfile/19_12시군구별.csv')

16448
시도명
강원특별자치도      29
경기도        8520
경상남도        843
경상북도         69
광주광역시       114
대구광역시       282
대전광역시       115
부산광역시       287
서울특별시      4358
세종특별자치시       2
울산광역시        46
인천광역시      1528
전라남도         21
전라북도         24
충청남도         79
충청북도        131
Name: 지식산업센터명, dtype: int64
16448
시군구명
고양시      200
광명시      326
구리시        1
군포시      595
김포시      377
남양주시      37
동두천시      21
부천시     1040
성남시     2408
수원시      470
시흥시      863
안산시      886
안성시        4
안양시      622
양주시       26
오산시        2
용인시       88
의왕시      279
의정부시       2
이천시        2
평택시        3
하남시      176
화성시       92
Name: 지식산업센터명, dtype: int64
8520

18

In [126]:
df18_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_18_12 = df18_12[df18_12['지식산업센터명'].str.strip() != '']
print(f_18_12.shape[0])

result18_12 = f_18_12.groupby('시도명')['지식산업센터명'].count()
print(result18_12)
print(result18_12.sum())

result18_12.to_excel('../../bigfile/18_12.xlsx')


# 경기도 시군구별 값수
g_18_12 = f_18_12[f_18_12['시도명']=='경기도']
# print(g_18_12.shape[0])
# print(g_18_12)

g_18_12.loc[:, '시군구명'] = g_18_12['시군구명'].str.split().str[0]
g_18_12.loc[:, '시군구명'] = g_18_12['시군구명'].replace('여주군', '여주시')

result18_12 = g_18_12.groupby('시군구명')['지식산업센터명'].count()
print(result18_12)
print(result18_12.sum())

result18_12.to_csv('../../bigfile/18_12시군구별.csv')

16077
시도명
강원특별자치도      30
경기도        8412
경상남도        807
경상북도         52
광주광역시       125
대구광역시       273
대전광역시       115
부산광역시       280
서울특별시      4379
울산광역시        49
인천광역시      1316
전라남도         16
전북특별자치도      18
충청남도         70
충청북도        135
Name: 지식산업센터명, dtype: int64
16077
시군구명
고양시      242
광명시      321
군포시      595
김포시      359
남양주시      35
동두천시      21
부천시     1003
성남시     2530
수원시      477
시흥시      766
안산시      851
안성시        4
안양시      595
양주시       22
오산시        2
용인시       80
의왕시      304
의정부시       1
이천시        3
평택시        3
하남시      163
화성시       35
Name: 지식산업센터명, dtype: int64
8412

# 17 16

In [43]:
df17_12 = pd.read_excel('../../bigfile/(2017.12월말기준)_전국공장등록현황.xlsx')
df16_12 = pd.read_excel('../../bigfile/(2016.12월말기준)_전국공장등록현황.xlsx')

df17_12['시도명'] = df17_12['시도명'].replace('강원도', '강원특별자치도')
df17_12['시도명'] = df17_12['시도명'].replace('제주도', '제주특별자치도')
df17_12 = df17_12[df17_12['시도명'] != ' ']

df16_12['시도명'] = df16_12['시도명'].replace('강원도', '강원특별자치도')
df16_12['시도명'] = df16_12['시도명'].replace('제주도', '제주특별자치도')
df16_12 = df16_12[df16_12['시도명'] != ' ']

c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

17

In [127]:
df17_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_17_12 = df17_12[df17_12['지식산업센터명'].str.strip() != '']
print(f_17_12.shape[0])

result17_12 = f_17_12.groupby('시도명')['지식산업센터명'].count()
print(result17_12)
print(result17_12.sum())

result17_12.to_excel('../../bigfile/17_12.xlsx')


# 경기도 시군구별 값수
g_17_12 = f_17_12[f_17_12['시도명']=='경기도']
# print(g_17_12.shape[0])
# print(g_17_12)

g_17_12.loc[:, '시군구명'] = g_17_12['시군구명'].str.split().str[0]
g_17_12.loc[:, '시군구명'] = g_17_12['시군구명'].replace('여주군', '여주시')

result17_12 = g_17_12.groupby('시군구명')['지식산업센터명'].count()
print(result17_12)
print(result17_12.sum())

result17_12.to_csv('../../bigfile/17_12시군구별.csv')

15132
시도명
강원특별자치도      35
경기도        7777
경상남도        795
경상북도         42
광주광역시       144
대구광역시       270
대전광역시       107
부산광역시       234
서울특별시      4269
울산광역시        46
인천광역시      1217
전라남도         12
전라북도         18
충청남도         30
충청북도        136
Name: 지식산업센터명, dtype: int64
15132
시군구명
고양시      138
광명시      321
군포시      565
김포시      346
동두천시      19
부천시      931
성남시     2585
수원시      476
시흥시      554
안산시      765
안성시        3
안양시      563
양주시       20
오산시        1
용인시       65
의왕시      275
의정부시       1
이천시        1
평택시        3
하남시      143
화성시        2
Name: 지식산업센터명, dtype: int64
7777

16

In [128]:
df16_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_16_12 = df16_12[df16_12['지식산업센터명'].str.strip() != '']
print(f_16_12.shape[0])

result16_12 = f_16_12.groupby('시도명')['지식산업센터명'].count()
print(result16_12)
print(result16_12.sum())

result16_12.to_excel('../../bigfile/16_12.xlsx')


# 경기도 시군구별 값수
g_16_12 = f_16_12[f_16_12['시도명']=='경기도']
# print(g_16_12.shape[0])
# print(g_16_12)

g_16_12.loc[:, '시군구명'] = g_16_12['시군구명'].str.split().str[0]
g_16_12.loc[:, '시군구명'] = g_16_12['시군구명'].replace('여주군', '여주시')

result16_12 = g_16_12.groupby('시군구명')['지식산업센터명'].count()
print(result16_12)
print(result16_12.sum())

result16_12.to_csv('../../bigfile/16_12시군구별.csv')

14072
시도명
강원특별자치도      33
경기도        7284
경상남도        747
경상북도         41
광주광역시       132
대구광역시       244
대전광역시        91
부산광역시       230
서울특별시      4158
울산광역시        42
인천광역시       916
전라남도         14
전라북도         11
충청남도         12
충청북도        117
Name: 지식산업센터명, dtype: int64
14072
시군구명
고양시      125
광명시      316
군포시      491
김포시      333
동두천시      18
부천시      900
성남시     2560
수원시      434
시흥시      410
안산시      683
안성시        3
안양시      535
양주시       18
용인시       57
의왕시      256
의정부시       1
이천시        1
평택시        3
하남시      140
Name: 지식산업센터명, dtype: int64
7284

# 15

In [46]:
df15_12 = pd.read_excel('../../bigfile/(2015.12월말기준)_전국공장등록현황.xlsx')

df15_12['시도명'] = df15_12['시도명'].replace('강원도', '강원특별자치도')
df15_12['시도명'] = df15_12['시도명'].replace('제주도', '제주특별자치도')
df15_12 = df15_12[df15_12['시도명'] != ' ']

c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [129]:
df15_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_15_12 = df15_12[df15_12['지식산업센터명'].str.strip() != '']
print(f_15_12.shape[0])

result15_12 = f_15_12.groupby('시도명')['지식산업센터명'].count()
print(result15_12)
print(result15_12.sum())

result15_12.to_excel('../../bigfile/15_12.xlsx')


# 경기도 시군구별 값수
g_15_12 = f_15_12[f_15_12['시도명']=='경기도']
# print(g_15_12.shape[0])
# print(g_15_12)

g_15_12.loc[:, '시군구명'] = g_15_12['시군구명'].str.split().str[0]
g_15_12.loc[:, '시군구명'] = g_15_12['시군구명'].replace('여주군', '여주시')

result15_12 = g_15_12.groupby('시군구명')['지식산업센터명'].count()
print(result15_12)
print(result15_12.sum())

result15_12.to_csv('../../bigfile/15_12시군구별.csv')

13651
시도명
강원특별자치도      32
경기도        7081
경상남도        739
경상북도         36
광주광역시       133
대구광역시       225
대전광역시        79
부산광역시       195
서울특별시      4138
울산광역시        40
인천광역시       819
전라남도         19
전라북도          9
충청남도          7
충청북도         99
Name: 지식산업센터명, dtype: int64
13651
시군구명
고양시      131
광명시      307
군포시      455
김포시      315
동두천시      16
부천시      899
성남시     2595
수원시      458
시흥시      406
안산시      594
안성시        3
안양시      470
양주시       12
용인시       53
의왕시      227
의정부시       1
이천시        1
평택시        3
하남시      135
Name: 지식산업센터명, dtype: int64
7081

# 14

In [125]:
df14_12 = pd.read_excel('../../bigfile/(2014.12월말기준)_전국공장등록현황.xlsx')

df14_12['시도명'] = df14_12['시도명'].replace('강원도', '강원특별자치도')
df14_12['시도명'] = df14_12['시도명'].replace('제주도', '제주특별자치도')
df14_12 = df14_12[df14_12['시도명'] != ' ']

c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [130]:
df14_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_14_12 = df14_12[df14_12['지식산업센터명'].str.strip() != '']
print(f_14_12.shape[0])

result14_12 = f_14_12.groupby('시도명')['지식산업센터명'].count()
print(result14_12)
print(result14_12.sum())

result14_12.to_excel('../../bigfile/14_12.xlsx')


# 경기도 시군구별 값수
g_14_12 = f_14_12[f_14_12['시도명']=='경기도']
# print(g_14_12.shape[0])
# print(g_14_12)

g_14_12.loc[:, '시군구명'] = g_14_12['시군구명'].str.split().str[0]
g_14_12.loc[:, '시군구명'] = g_14_12['시군구명'].replace('여주군', '여주시')

result14_12 = g_14_12.groupby('시군구명')['지식산업센터명'].count()
print(result14_12)
print(result14_12.sum())

result14_12.to_csv('../../bigfile/14_12시군구별.csv')

12019
시도명
강원특별자치도      25
경기도        6271
경상남도        662
경상북도         39
광주광역시        71
대구광역시       205
대전광역시        64
부산광역시       152
서울특별시      3679
울산광역시        20
인천광역시       713
전라남도         14
전라북도          5
충청남도          8
충청북도         91
Name: 지식산업센터명, dtype: int64
12019
시군구명
고양시       62
광명시      297
군포시      326
김포시      297
동두천시      15
부천시      810
성남시     2481
수원시      445
시흥시      339
안산시      411
안성시        3
안양시      409
양주시       11
용인시       51
의왕시      184
평택시        4
하남시      126
Name: 지식산업센터명, dtype: int64
6271

# 13

In [51]:
df13_12 = pd.read_excel('../../bigfile/(2013.12월말기준)_전국공장등록현황.xlsx')

df13_12['시도명'] = df13_12['시도명'].replace('강원도', '강원특별자치도')
df13_12['시도명'] = df13_12['시도명'].replace('제주도', '제주특별자치도')
df13_12 = df13_12[df13_12['시도명'] != ' ']

c:\anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [131]:
df13_12['지식산업센터명'].unique()

# '지식산업센터명' 에어에서 공백 문자열을 제거한 데이터프리및 생성
f_13_12 = df13_12[df13_12['지식산업센터명'].str.strip() != '']
print(f_13_12.shape[0])

result13_12 = f_13_12.groupby('시도명')['지식산업센터명'].count()
print(result13_12)
print(result13_12.sum())

result13_12.to_excel('../../bigfile/13_12.xlsx')


# 경기도 시군구별 값수
g_13_12 = f_13_12[f_13_12['시도명']=='경기도']
# print(g_13_12.shape[0])
# print(g_13_12)

g_13_12.loc[:, '시군구명'] = g_13_12['시군구명'].str.split().str[0]
g_13_12.loc[:, '시군구명'] = g_13_12['시군구명'].replace('여주군', '여주시')

result13_12 = g_13_12.groupby('시군구명')['지식산업센터명'].count()
print(result13_12)
print(result13_12.sum())

result13_12.to_csv('../../bigfile/13_12시군구별.csv')

11024
시도명
강원특별자치도      12
경기도        5831
경상남도        602
경상북도         38
광주광역시        43
대구광역시       152
대전광역시        52
부산광역시       120
서울특별시      3476
울산광역시        15
인천광역시       571
전라남도         15
전라북도          3
충청남도          8
충청북도         86
Name: 지식산업센터명, dtype: int64
11024
시군구명
고양시       56
광명시      267
군포시      302
김포시      267
동두천시      11
부천시      812
성남시     2412
수원시      496
시흥시      299
안산시      254
안성시        3
안양시      362
양주시        4
용인시       35
의왕시      145
평택시        2
하남시      104
Name: 지식산업센터명, dtype: int64
5831